[submodule "src/sizzle"]
	path = src/sizzle
	url = git://github.com/jquery/sizzle.git
	url = git://github.com/jquery/qunit.git
[submodule "test/qunit"]
	path = test/qunit
url=https://gist.github.com/3094653.js